{% extends 'base.html' %}

{% block main %}
<main id="main">
  <div class="container">
    <section class="section">
        <div class="container">
            {% for post in post_list %}
                <a href="{% url 'blog:post_detail' post.pk %}">
                    <div class="box">
                        <p>{{ post.title }} {{ post.created_at }} {{ post.created_by.username }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </section>
  </div>
</main>
{% endblock %}
